<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.innovatrics.android.dot.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity android:name=".activity.DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.FaceCaptureActivity" />

        <activity android:name=".activity.InstructedFaceCaptureActivity" />

        <activity android:name=".activity.FaceCaptureSimpleActivity" />

        <activity android:name=".activity.FaceDetectorActivity" />

        <activity android:name=".activity.VerificationActivity" />

        <activity android:name=".activity.LivenessCheckActivity" />

        <activity android:name=".activity.LivenessCheck2Activity" />

        <activity android:name=".activity.DocumentCaptureActivity" />

        <activity android:name=".activity.DocumentReviewActivity" />

        <activity android:name=".activity.OnboardingActivity" />

        <activity android:name=".activity.SignInActivity" />
    </application>

</manifest>
